<!-- src/app/livre/livre.component.html -->
<div>
  <h2>Créer un dossier et ajouter des livres</h2>

  <!-- Formulaire pour créer un dossier -->
<div>
  <label for="dossierNom">Nom du dossier:</label>
  <input type="text" id ="dossierNom" ngModel ="dossierNom" placeholder="Nom du dossier">
  <button (click)="ajouterDossier()">Ajouter Dossier</button>
</div>

<!-- Liste des dossiers -->
<h3>Dossiers</h3>
<ul> @for (dossier of dossiers; track dossier.nom) {
  <li>
    @if (dossier.livres.length > 0) {
      <div>
        <h4>Livres dans ce dossier:</h4>
        <ul>
          @for (livre of dossier.livres; track $index; let i = $index) {
            <li>
              {{ livre.titre }} - {{ livre.auteur }} ({{ livre.anneePublication }})
              <button (click)="supprimerLivre(dossier.nom, i)">Supprimer</button>
            </li>
          }
        </ul>
      </div>
    }
    <!-- Formulaire pour ajouter un livre dans un dossier -->
    <div>
      <label for="titre">Titre du livre:</label>
      <input type="text" ngModel="nouveauLivre.titre" placeholder="Titre du livre">
      <label for="auteur">Auteur:</label>
      <input type="text" ngModel="nouveauLivre.auteur" placeholder="Auteur du livre">
      <label for="anneePublication">Année de publication:</label>
      <input type="number" ngModel="nouveauLivre.anneePublication" placeholder="Année de publication">
      <button (click)="ajouterLivreDansDossier(dossier.nom)">Ajouter Livre</button>
    </div>
  </li>}
</ul>
</div>
